<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  		<div th:each="mensagem : ${mensagens}">
            <p th:text="'* '+${mensagem}"></p>
        </div>
        <div>
        	<form method="POST">
        		<p>Nome do Produto: <input type="text" name="nome"></p>
        		<p>Valor: <input type="number" step="any" name="valor"></p>
        		<p>Vencimento: <input type="datetime" name="validade"></p>
        		<p th:each="categoria : ${categorias}">
        			<input type="checkbox" th:value="${categoria.id}" th:text="${categoria.nome}" name="categorias">
        		</p>
        	<button type="submit">Cadastrar Produto</button>
        	</form>
        </div>
</body>
</html>